 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500;1,700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    }
    html,body{
    width: 100%;
    height: 100%;
    }
    .gray{
        color:hsl(228, 12%, 48%);
    }
    :root{
        --font-family: 'Poppins', sans-serif;
        --primary-Dark-Cyan: hsl(158, 36%, 37%);
        --primary-Cream: hsl(30, 38%, 92%);
       --neutral-very-dark-blue:hsl(212, 21%, 14%);
       --netrul-dark-grayish-blue:hsl(228, 12%, 48%);
       --netrul-white: hsl(0, 0%, 100%);
       --font-weight-500 :500;
       --font-weight-700 :700;
    }
    
    body{
        height: 50vw;
        background-color: var(--primary-Cream);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main{
    display:flex;  
    flex-direction: column;
    align-items: center;
    background-color: var(--netrul-white);
    width: 30vw;
    height: 50%;
    }
.image .photo{ 
/* position:fix; */
width: 30vw;
height: 250px;
border-radius: 5px;
position: relative;
}
.paragraph{
color: var(--neutral-very-dark-blue);
padding: 5px 5px;
 }   
.right .typing{
    font-size: var(--font-weight-500);
/* display: flex; */
flex-direction: column;
align-items: center;
margin: 0px 5px;
padding: 5px 5px;
}
.typing p{
color: var(--netrul-dark-grayish-blue);
font-weight: var(--font-weight-500);
font-size: 14px;
font-weight: 500;
}
.typing h1{
font-weight: 500;
font-size: 35px;
/* text-align: center;  */
}

.right .price{
gap: 10px;
margin: 5px 5px;
display: flex; 
/* justify-content: center; */
align-items: center;
padding: 10px 5px;
font-weight:var(--font-weight-700);
font-size: 20px;
color: var(--primary-Dark-Cyan);
}
.price .rate{
    text-decoration: line-through;
}
.right .shop{
margin: 5px 10px;
padding: 10px 5px;
text-align: center;
background-color: var(--primary-Dark-Cyan);
color: var(--netrul-white);
border-radius: 5px;
font-size: 20px;
/* width: 70%; */
}

.shop .button{
font-weight: var(--font-weight-500);
/* color: var(--netrul-white); */
}